body {
  background-color:#99e5aa;  
}

.container {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
font-weight:bold;
padding: 15px;
border-style: solid
}

.head {
  text-align: center;
}

.firstp {
  font-family: 'Courier New', Courier, monospace;
  font-size:24px;
}

#python {
  display: none;
}

#ruby {
  display: none;
}

#javascript {
  display: none;
}

#swift {
  display: none;
}

#output {
  background-color:white;
}


